<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251672720824-vq7om6vl0c2r52usek3nph25imhk6o5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251672720824-vq7om6vl0c2r52usek3nph25imhk6o5o</string>
	<key>API_KEY</key>
	<string>AIzaSyAwnIYGgn3clIACdz6BDcdNthCv4LZ4_II</string>
	<key>GCM_SENDER_ID</key>
	<string>251672720824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatalk</string>
	<key>PROJECT_ID</key>
	<string>chatalk-app</string>
	<key>STORAGE_BUCKET</key>
	<string>chatalk-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251672720824:ios:e8b74136d66c1384dc4b4d</string>
</dict>
</plist>